.section_padding {
    padding: 4rem, 4rem;
}
.footer {
    background-color: yellowgreen
}

.sb footer {
    display: flex;
    flex-direction: column;
}
.sb__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media  (min-width: 961px) {

    p h1 {
        font-size: 12px;
        color: green;
    }
  }
  @media (max-width: 1200px) {
    p{
      color: black;
    }
  }